<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=" initial-scale=1.0">
    <title>todo list</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <main>
        <h1>My Todo</h1>

        <div id="container">
            <div class="addWrapper">

                <form id="addData" action="/add" method="POST"> <!-- Set the action to POST to /add -->
                    <input type="text" name="todo" id="todoInput" placeholder="Something to do">
                    <input type="submit" value="Add Todo">
                </form>
            
            </div>
                
            <div id="data">  
                <% if (locals.data) { %>

                    <% data.forEach((item) => { %>
                        
                        <!-- <form action="/done/<%=item.task_id%>" method="post" class="todos"> -->
                     <form id="todoForm" method="POST" class="todos">
                            <input type="checkbox" onchange="formSubmit('<%= item.task_id %>')" value="<%= item.task_id %>">

                            <h3><%= item.task_id %></h3>
                            <h2><%= item.todo %></h2>
                            
                        <a href="/edit/<%=  item.task_id %>"> <div id="circle"></div></a>
                            
                        </form>

                    <% }) %>
                
                <% } else { %>
                    <h1>No tasks yet!</h1>
                <% } %>

            </div>

        </div>

    
    </main>



    <script >

        const formSubmit = (id) => {
            const form = document.getElementById('todoForm');
            form.action = `/done/${id}`
            form.submit()
         }



    </script>
</body>
</html>