<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=" initial-scale=1.0">
    <title>todo list</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <main>
        <h1>My Todo</h1>

        <div id="container">
            <div class="addWrapper">

                <form id="addData" action="/add" method="POST"> <!-- Set the action to POST to /add -->
                    <input type="text" name="todo" id="todoInput" placeholder="Something to do">
                    <input type="submit" value="Add Todo">
                </form>
            
            </div>
                


    <div id="data">   
        <% if (locals.data) { %>
                <% data.forEach((item) => { %>
                    
                    <!-- Todo Form -->
                    <form id="todoForm" method="POST" class="todos">
                        <!-- Checkbox for marking task done -->
                        <input class="tohide<%= item.task_id %>" name="deletId" type="checkbox" onchange="formSubmit('<%= item.task_id %>')" value="<%= item.task_id %>">

                        <!-- Display task ID and description -->
                        <h3 class="tohide<%= item.task_id %>"><%= item.task_id %></h3>
                        <h2 class="tohide<%= item.task_id %>"><%= item.todo %></h2>

                        <!-- Edit button -->
                        <button type="button" class="tohide<%= item.task_id %>" onclick="handleEdit('<%= item.task_id %>')">Edit</button>

                        <!-- Hidden edit form -->
                        <div id="toUnhide<%= item.task_id %>" hidden>
                            <input type="hidden" name="id" value="<%= item.task_id %>">
                            <input type="text" name="newTodo" value="<%= item.todo %>">
                            <!-- <input type="submit" value="Save"> -->
                             <button type="submit" formaction="/edit" ></button>
                        </div>
                    </form>

                <% }) %>
                
                <% } else { %>
                    <h1>No tasks yet!</h1>
                <% } %>
            </div>

        </div>

    
    </main>



    <script >

    const handleEdit = (id) => {
            console.log("Edit button clicked for task ID:", id);
            
            // Hide elements with class tohide[id]
            const hideElements = document.querySelectorAll('.tohide' + id);
            hideElements.forEach((elem) => {
                elem.setAttribute('hidden', true);
            });

            // Show the hidden form for editing
            const unhideElement = document.getElementById('toUnhide' + id);
            unhideElement.removeAttribute('hidden');
        };


        const formSubmit = (id) => {
            const form = document.getElementById('todoForm');
            form.action = `/done/${id}`
            form.submit()
         }



    </script>
</body>
</html>